* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Fregat_regular';
    color: #111111;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-size: 26px;
    font-family: 'Trebuchet MS';
    color: #583b1c;
}
h2 {
    font-size: 24px;
    font-family: 'Fregat_regular';
}
p, a, ul, li, input, label, button, textarea {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    font-size: 18px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
   background: url(../img/bg_wrap.jpg); 
}
.btn_broun {
    border: none;
    outline: none;    
    color: white;
    border-radius: 5px;
    background: #452e16;
    background: -moz-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: -webkit-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: -o-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: -ms-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
}
.btn_broun:hover {
    background: #452e16;
    background: -moz-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -webkit-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -o-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -ms-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
}
/* Header
------------------------------------------------------------------------------------ */
.header {
    padding: 25px 0 0;
}
.header .logo img {
    width: 100%;
}
.header .navbar-nav li {
    margin-right: 15px;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #494641;
    font-size: 16px;
    border-radius: 50%;    
    font-family: 'Trebuchet MS';
    margin-bottom: 10px;
}
.header .navbar-nav li a {
    border-radius: 50%;
    padding: 0px;
    color: #494641;
}
.header .navbar-nav li:last-child {
    margin-right: 0px;
}
.header .navbar-nav li img {
    
}
.header .navbar-nav li div {
    height: 45px;
    margin-bottom: 10px;
}
.header .navbar-nav li a:hover {
    background: url(../img/nav_hover.jpg);
    background-size: cover;
}
.header .navbar-toggle {
    float: none;
    left: 50%;
    font-size: 25px;
}
.header .contact {
    text-align: right;
}
.header .contact h1 span {
    font-size: 20px;
}
.header .contact .btn_broun {
    margin-top: 18px;    
    font-size: 18px;
    padding: 5px 25px;
}














/* media
---------------------------------------------------------------------------------------*/
@media screen and (min-width: 1300px) {
    .wrap {
        width: 1300px;
    }
    .header .navbar-nav {
        margin-right: 35px;
    }
}
@media screen and (min-width: 1400px) {
    .wrap {
        width: 1400px;
    }
}
@media screen and (min-width: 1500px) {
    .wrap {
        width: 1500px;
    }
}
@media screen and (min-width: 1600px) {
    .wrap {
        width: 1600px;
    }
}


@media screen and (max-width: 1500px) {
    .header .navbar-nav li {
        width: 90px;        
    }
    .header .navbar-nav li p {
        font-size: 15px;
    }
}
@media screen and (max-width: 1300px) {
    .header .contact h1 {
        font-size: 24px;
    }
    .header .contact h1 span {
        font-size: 16px;
    }
}
@media screen and (max-width: 991px) {
    .header .contact h1 {
        font-size: 18px;
    }
    .header .contact h1 span {
        font-size: 12px;
    }
    .header .contact .btn_broun {
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .header .contact {
        text-align: center;
    }
    .header .contact h1 {
        font-size: 26px;
    }
    .header .contact h1 span {
        font-size: 20px;
    }
    .header .contact .btn_broun {
        font-size: 18px;
    }
}














